@Model ASPNet.Models.Ucenik

@{
    ViewBag.Title = "Ja";
}

@*<h1>Ime:@ViewBag.i</h1>
<h1>Prezime:@ViewBag.p</h1>
<h1>Godine:@ViewBag.g</h1>*@


@*<h1>Ime:@ViewData["ime"]</h1>
<h1>Prezime:@ViewData["prezime"]</h1>
<h1>Godine:@ViewData["Godine"]</h1>*@


<h2>Ime:@Model.Ime</h2>
<h2>Prezime:@Model.Prezime</h2>
<h2>Godine:@Model.Godine</h2>